<div *ngIf="pruebaFinalizada == false">
    <div ><a [routerLink]="'/test'"><button class="class-salir-button"  (click)="openSideNav()">SALIR</button></a></div>
    <div class = "class-contador">{{contadorPregunta}}/{{cantidadPregunta}}</div>
    <div class="class-resultado-real">
        <div  *ngFor="let i of arrayResultado; index as j; " >
            <span [ngClass]="i == 1 ? 'class-resultado-rg green': 'class-resultado-rg red' " (mouseover)="show= j" (mouseout)="show= undefined">{{j + 1}}</span>
            <div class="class-detalles"  [ngStyle]="i == 1 ? {marginTop: '15px'} : {marginTop: '5px'}">
                <span  @mostrarDetalles class="class-respuestas red" *ngIf="i == 0 && show == j">{{preguntaArray[j]}} = {{respuestaUsuarioArray[j]}}</span>
                <span @mostrarDetalles   class="class-respuestas green"  *ngIf="show == j">{{preguntaArray[j]}} = {{respuestaArray[j]}}</span>
                
            </div>
        </div>
     
    </div>

    <div class="class-resultado-real2">
        <div  *ngFor="let i of arrayResultado2; index as k;" >
            <span [ngClass]="i == 1 ? 'class-resultado-rg green': 'class-resultado-rg red' " (mouseover)="show= k + 15" (mouseout)="show= undefined">{{k + 16}}</span>
            <div class="class-detalles "  [ngStyle]="i == 1 ? {marginTop: '15px'} : {marginTop: '5px'}">
                <span  @mostrarDetalles class="class-respuestas red"  *ngIf="i == 0 && show == k + 15">{{preguntaArray[k + 15]}} = {{respuestaUsuarioArray[k + 15]}}</span>
                <span @mostrarDetalles   class="class-respuestas green"  *ngIf="show == k + 15">{{preguntaArray[k + 15]}} = {{respuestaArray[k + 15]}}</span>
                
            </div>
        </div>

    </div>
    <div class = "class-pregunta">{{pregunta}}</div>
    <div class="class-opciones" *ngIf = "respuestaTipo == 0">
    <br><button class ="class-opciones-botones" (click) = "siguientePregunta(0)">{{opciones[0]}}</button>
    <br><button class ="class-opciones-botones" (click) = "siguientePregunta(1)">{{opciones[1]}}</button>
    <br><button class ="class-opciones-botones" (click) = "siguientePregunta(2)">{{opciones[2]}}</button>
    <br><button class ="class-opciones-botones" (click) = "siguientePregunta(3)">{{opciones[3]}}</button>
    <br><button class ="class-opciones-botones" (click) = "siguientePregunta(4)">{{opciones[4]}}</button>
    </div>

    <div class="class-opciones" *ngIf = "respuestaTipo == 1">
        <div><input class= "class-answer-input" id="inputRespuesta" [(ngModel)]="inputRespuesta" #respuesta (keyup.enter)="siguientePreguntaE(respuesta.value)" placeholder="Ingrese respuesta"></div>
        <div><button class="class-pista-button">PISTA</button></div>
    </div>
        

    </div>
    
    <div *ngIf="pruebaFinalizada == true" class="class-pantalla-finalizar">
        TERMINASTE LA PRUEBA y obtuviste {{resultadoBuenas}} buenas
    </div>