<div *ngIf="pruebaFinalizada == false">
    <div ><a [routerLink]="'/test'"><button class="class-salir-button"  (click)="openSideNav()">SALIR</button></a></div>
    <div class = "class-contador">{{contadorPregunta}}/{{cantidadPregunta}}</div>
    <div class="class-resultado-real">
        <span  *ngFor="let i of arrayResultado" [ngClass]="i == 1 ? 'class-resultado-rg green': 'class-resultado-rg red' ">&nbsp;</span></div>
    <div class = "class-pregunta">{{pregunta}}</div>
    <div class="class-opciones" *ngIf = "respuestaTipo == 0">
    <br><button class ="class-opciones-botones" (click) = "siguientePregunta(0)">{{opciones[0]}}</button>
    <br><button class ="class-opciones-botones" (click) = "siguientePregunta(1)">{{opciones[1]}}</button>
    <br><button class ="class-opciones-botones" (click) = "siguientePregunta(2)">{{opciones[2]}}</button>
    <br><button class ="class-opciones-botones" (click) = "siguientePregunta(3)">{{opciones[3]}}</button>
    <br><button class ="class-opciones-botones" (click) = "siguientePregunta(4)">{{opciones[4]}}</button>
    </div>

    <div class="class-opciones" *ngIf = "respuestaTipo == 1">
        <div><input class= "class-search-input" id="inputRespuesta" [(ngModel)]="inputRespuesta" #respuesta (keyup.enter)="siguientePreguntaE(respuesta.value)" placeholder="Buscar..."></div>
        </div>
        

    </div>
    
    <div *ngIf="pruebaFinalizada == true" class="class-pantalla-finalizar">
        TERMINASTE LA PRUEBA y obtuviste {{resultadoBuenas}} buenas
    </div>