.class-contador{
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 2em;

}

.class-salir-button{
    position: absolute;
    left: 10px;
    top: 10px;
    font-size: 2em;
    background: black;
    border-width: 3px;
    border-color: white;
    text-align: center;
    font-size: 1.2em;
    color: white;

}

.class-resultado-real{
    position: absolute;
    user-select: none;
    margin-top: 100px;
    max-height: 80%;        
}
.class-resultado-real2{
    position: absolute;
    user-select: none;
    margin-top: 100px;
    max-height: 80%;
    direction: rtl;
    right: 0px;
}

.class-resultado-rg{
    margin-top: 15px;
    font-size: 1.3em;
    display: inline-block;
    width: 40px;
    min-width: 40px;    
}

.red{
    background: red;
}

.green{
    background: green;
}



.class-pregunta{
    text-align: center;
    font-size: 3.5em;
    padding-top: 1em;
    padding-bottom: 1em;
}
.class-opciones{
    text-align: center;
}
.class-opciones-botones{
    background: black;
    border-width: 3px;
    border-color: white;
    text-align: center;
    font-size: 2.5em;
    margin-top: 0.8em;
    color: white;
    min-width: 20em;
    
}

.class-pantalla-finalizar{
    color: white;
    height: 100%;
}

.class-grid-container{
    border: 3px solid rgb(255, 255, 255);
    min-height: 50%;
}

.class-grid{
    display: grid;
    
    grid-template-columns: auto auto auto auto auto;
}

.class-user-answer{
    height: 20%;
    text-align: center;
}

.class-detalles{
    display: inline-block; 
    margin-left: 5px; 
    margin-right: 5px; 
    position: absolute;
}

.class-respuestas{
    display: block; 
    font-size: 1.3em;
    padding-left: 2em; 
    padding-right: 2em; 
    overflow: hidden ;
    white-space: nowrap;
}

.class-answer-input{
    margin-top: 3em;
    font-size: 2em;
    background: rgb(55, 63, 82);
    color: white;
    text-align: center;
    width: 10em;

}
.class-pista-button{

    font-size: 1.5em;
    background: rgb(109, 92, 230);
    color: white;
    width: 14em;
    
}
.class-pistas{
    color: white;
    font-size: 1.5em;
}
.class-resultado-final{
    width: 100%; 
    position: absolute;
    bottom: 20px;
   
}
.class-resultado-final div{
    width: 50%; 
    display: inline-block; 
    text-align: center;
    font-size: 2em;
}
.class-item-container{
    background: black;
    text-align: center;
    font-size: 1.1em;
    color: white;
}

.class-item-final{
    min-width: 10em;
    margin: 10px;
    cursor: pointer;
    font-size: 2em;
}

.class-resultado-final button{
    width: 100%; 
    border-width: 3px;
    border-color: white;
    text-align: center;
    color: white;
    background-color: black;
    text-align: center;
    font-size: 1.1em;
}