.class-test-main{
    text-align: center;

}
.class-test-main-button{
    color: white;
    background: black;
    border-width: 4px;
    border-color: white;
    font-size: 3em;
    margin-top: 1em;
}
.class-radio{
    display: inline;
    font-size: 1.8em;
    margin-left: 10px;
}

input[type=radio] {
    display: inline;
    border: 0px;
    width: 1.5em;
    height: 1.5em;
}
.class-listaSel{
    font-size: 3em;
}