<div style="padding-bottom:4em;"><input class= "class-search-input" id="searchFromList" #search [(ngModel)]="searchString" (keyup)="onChange(search.value)" placeholder="Buscar..."></div>
<div *ngIf="noResult" class="class-noresult">No se encontraron coincidencias...</div>

<div class="class-main">
    <div>
        <div *ngFor="let i of listaPalabrasFiltro"  class="displayInline" (click)="mostrarDetalles(i.palabra1, i.palabra2)">

            <div class="class-lista-objetos">{{i.palabra1}}</div>
            <div class="class-lista-objetos">{{i.palabra2}}</div>
        </div>
    </div>
</div>

<div class="class-detalles" *ngIf="palabra1Det && !noResult">
    
    <div class="pantalla-detalles">
        <div *ngIf="!editOn">{{palabra1Det}}</div>
        <div *ngIf="editOn"><input  [(ngModel)]="palabra1Edit" class="class-input-edicion" type ="text"></div>
    </div>

    <div class="pantalla-detalles">
        <div *ngIf="!editOn">{{palabra2Det}}</div>
        <div *ngIf="editOn"><input [(ngModel)]="palabra2Edit" class="class-input-edicion" type ="text"></div>
    </div>
        
    <div class="pantalla-detalles">
        [nivel]
    </div>


    <div class="pantalla-detalles borderWidth">
        Descripción:
        <div>
            ---
        </div>    
        
    </div>
    <div class="class-editar-eliminar" *ngIf="!editOn">
        <button class="class-button-editeliminar" (click)="habilitarEdicion()"><mat-icon class="class-icon" >edit</mat-icon>Editar</button>
        <button class="class-button-editeliminar" (click)="eliminar()"><mat-icon class="class-icon" >delete</mat-icon>Eliminar</button>
    </div>
    <div class="class-editar-eliminar" *ngIf="editOn">
        <button class="class-button-editeliminar" (click)="editar(palabra1Edit!, palabra2Edit!, palabra1Det, palabra2Det!)"><mat-icon>done</mat-icon>Guardar</button>
        <button class="class-button-editeliminar" (click)="editOn = false;"><mat-icon>cancel</mat-icon> Cancelar</button>
    </div>
</div>