

.example-container {

  height: 88vh;

  background: #eee;
}

.header{
  height: 10vh;
  text-align: center;
  width: 100%;
  margin: auto;

  background: rgb(107 118 129);
  color: white;
  font-size: 1.4em;
}

.sidenav-class {
  background: rgb(107, 118, 129);
  color: white;
  width: 12%;
  
    
}
.sidenav-content{
  background: rgb(0, 0, 0);
  color: white;
  
}

.boton-menu{
  background: rgb(88, 88, 88);
  position: relative;
  color: white;
  font-size: 1.1em;
  bottom: 0%;
  left: 0;
  margin-right: 30vw;
}