
<nav class="class-nav">
    <select name="select" id= 'listas' #listas (click)="onClick()" (change)="getValores(listas.value)">

        <option value={{j}} [selected]="x == 0" *ngFor = 'let j of listasDisponibles; index as x'>{{listasDisponibles![x]}}</option>
    </select>
    <a  [ngClass]="ruta == '/home' ? 'class-nav-list selected': 'class-nav-list' " [routerLink]="'/home'" ><mat-icon>home</mat-icon> Home </a>
    <a  [ngClass]="ruta == '/test' ? 'class-nav-list selected': 'class-nav-list' " [routerLink]="'/test'" ><mat-icon>assignment</mat-icon> Test </a>
    <a  [ngClass]="ruta == '/estudiarlista' ? 'class-nav-list selected': 'class-nav-list' " [routerLink]="'/estudiarlista'" ><mat-icon> local_library</mat-icon> Estudiar lista</a>
    <a  [ngClass]="ruta == '/crearlista' ? 'class-nav-list selected': 'class-nav-list' " [routerLink]="'/crearlista'" > 	<mat-icon>add</mat-icon>Crear lista </a>
    

</nav>                                                