.class-texto-home{

    font-size: 2em;
    margin: 3em;
}
.class-link-crear{
    text-decoration: none;
    font-size: 1.3  em;
    color: rgb(149, 195, 238);
}

a{
    color: rgb(40, 185, 243);
}