<div>
    <h2 style="text-align: center; font-size: 3em;">¿Qué es CustomTestWebsite?</h2>
    <span class="class-texto-home"><p>CustomTestWebsite sirve para realizar test personalizados.</p>

    <p>Creas tus propias listas, las cargas y la página automáticamente genera un test con preguntas y cinco opciones aleatorias. La respuesta es colocada en una posición aleatoria también.
    El formato en el que se crean las listas es el siguiente: palabra1 = palabra2. </p>

    <p> Tu decides si la pregunta será la palabra1 o palabra2. Si decides que la pregunta serán las palabra1, entonces las posibles respuestas serán las palabra2
    Si aun no tienes ninguna lista puedes probar crear una: <a routerLink="../crearlista" class="class-link-crear">CREAR LISTA</a></p> 

    <p>O si lo prefieres puedes probar utlizando la lista prehecha que contiene un Kanji japonés con su significado y estudiar dicha lista seleccionada acá: <a routerLink="../estudiarlista" class="class-link-crear">ESTUDIAR LISTA</a></p>

    <p>Una vez que te sientas preparado prueba realizar un test: <a routerLink="../test" class="class-link-crear">TEST</a></p></span>
</div>